@media (max-width: 1280px) {
    .nav-side {
        display: none;
    }

    .pc-content {
        display: none;
    }

    .mobile-content {
        display: block;
        position: relative;
    }

    .page--r-raid-forbiddenrock .mobile-content section.area {
        height: 1350px;
    }

    .page--r-raid-forbiddenrock .mobile-content section.section--intro {
        height: 100vh;
    }

    .page--r-raid-forbiddenrock .mobile-content section.section--episode {
        height: 1300px;
    }

    .page--r-raid-forbiddenrock .mobile-content section.section--reef .area__content {
        left: 50%;
        overflow: unset !important;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -58%);
        width: 100%;
    }

    .page--r-raid-forbiddenrock .mobile-content section.area .area__content> :not(.layout-escape) {
        padding-left: 0px;
        padding-right: 0px;
    }

    .page--r-raid-forbiddenrock .mobile-content section.area .area__content {
        align-items: center;
        display: flex;
        flex-direction: column;
        /* height: 100%; */
        justify-self: center;
        margin: auto;
        overflow: hidden;
        /* width: 100%; */
    }

    .page--r-raid-forbiddenrock .mobile-content section.section--episode .area__content {
        top: 50px;
    }

    .page--r-raid-forbiddenrock .mobile-content section.area .area__content .area__content__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--intro .area__content {
        left: 50%;
        margin-left: -2vw;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .page--r-raid-forbiddenrock .mobile-content .section--intro .area__visual ._dimmed {
        background-color: #000;
        height: 100%;
        left: 0;
        opacity: .8;
        position: absolute;
        top: 0;
        transform: translateZ(0);
        width: 100%;
        z-index: 1;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--intro .area__visual video {
        height: 100%;
        object-fit: cover;
        vertical-align: top;
        width: 100%;
    }

    .page--r-raid-forbiddenrock .mobile-content .area .area__content .area__content__wrap ._title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        position: relative;
        -webkit-text-size-adjust: none;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--intro .area__content .area__content__wrap ._title sup {
        height: 272px;
        width: 664px;
        margin-top: 30px;
        background-image: url(../img/mo/sec1_ttl.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        position: relative;
        z-index: 1;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--intro .area__content .area__content__wrap ._video-button {
        background-image: url(../img/mo/sec1_btn.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 117px;
        width: 97px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--raid .area__visual {
        background-image: url(../img/mo/sec2_bg.jpg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--raid .area__content .area__content__wrap ._title {
        margin-top: 50px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--raid .area__content .area__content__wrap ._title sup {
        background-image: url(../img/mo/sec2_ttl.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 80px;
        width: 283px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--raid .area__content .area__content__wrap ._detail {
        background-image: url(../img/mo/sec2_con_content.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 1132px;
        width: 646px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area {
        height: 528px;
        left: 50%;
        margin-left: -8px;
        position: absolute;
        top: 116px;
        transform: translate(-50%);
        width: 543px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area .btn_box .btn {
        color: #0000 !important;
        font-size: 0 !important;
        height: 104px;
        position: absolute;
        width: 100px;
        z-index: 1;
        -webkit-text-size-adjust: none;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area .btn_box .btn.btn1 {
        right: -5px;
        top: 200px;
        background-size: cover;
        width: 137px;
        height: 106px;
        background-image: url(../img/mo/sec3_area_btn1.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area .btn_box .btn.btn2 {
        left: 245px;
        top: 40px;
        background-size: cover;
        width: 122px;
        height: 107px;
        background-image: url(../img/mo/sec3_area_btn2.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area .btn_box .btn.btn3 {
        left: 225px;
        top: 330px;
        background-size: cover;
        width: 99px;
        height: 104px;
        background-image: url(../img/mo/sec3_area_btn3.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area .btn_box .btn.btn4 {
        left: 10px;
        top: 155px;
        background-size: cover;
        width: 97px;
        height: 104px;
        background-image: url(../img/mo/sec3_area_btn4.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area .btn_box .btn.btn5 {
        left: 130px;
        top: 435px;
        background-image: url(../img/mo/sec3_area_btn5.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: cover;
        width: 123px;
        height: 109px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef.--dimOn ._modalDimmed {
        background: #000;
        background: radial-gradient(circle, #000 0, #fff0);
        height: 1286px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 3;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .modal_box .area_modal.--on {
        display: block;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .modal_box .area_modal.area_modal1 {
        background-image: url(../img/mo/sec3_modal_con1.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 712px;
        width: 342px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .modal_box .area_modal.area_modal2 {
        background-image: url(../img/mo/sec3_modal_con2.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 360px;
        width: 342px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .modal_box .area_modal.area_modal3 {
        background-image: url(../img/mo/sec3_modal_con3.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 294px;
        width: 343px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .modal_box .area_modal.area_modal4 {
        background-image: url(../img/mo/sec3_modal_con4.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 360px;
        width: 343px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .modal_box .area_modal.area_modal5 {
        background-image: url(../img/mo/sec3_modal_con5.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 360px;
        width: 343px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .modal_box .area_modal .area_modal_close {
        background-image: url(../img/mo/sec3_modal_close.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 76px;
        position: absolute;
        right: -30px;
        top: -30px;
        width: 76px;
        display: block;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area .modal_box .area_modal.area_modal1 {
        background-image: url(../img/mo/sec3_modal_con1.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 712px;
        width: 342px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area .modal_box .area_modal.area_modal2 {
        background-image: url(../img/mo/sec3_modal_con2.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 360px;
        width: 342px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area .modal_box .area_modal.area_modal3 {
        background-image: url(../img/mo/sec3_modal_con3.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 294px;
        width: 343px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area .modal_box .area_modal.area_modal4 {
        background-image: url(../img/mo/sec3_modal_con4.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 360px;
        width: 343px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area .modal_box .area_modal.area_modal5 {
        background-image: url(../img/mo/sec3_modal_con5.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 360px;
        width: 343px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .modal_box .area_modal {
        display: none;
        left: 50% !important;
        position: absolute !important;
        top: 50% !important;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item {
        display: none;
        height: 100%;
        position: relative;
        width: 100%;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__visual1 {
        background-image: url(../img/mo/sec3_bg0.jpg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        display: none;
        height: 100%;
        width: 100%;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--2 .swiper_box .swiper_video {
        height: 100%;
        width: 100%;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--2 .swiper_box .swiper_video {
        height: 322px;
        margin: 0 auto;
        position: relative;
        transform: translateY(164px);
        width: 690px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--2 .swiper_box .swiper_video .video_box {
        background-color: #212f35;
        border: 2px solid #000;
        height: 100%;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translate(-50%);
        width: 571px;
        z-index: 1;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--2 .swiper_box .swiper_video .video_box video {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--episode .area__content .area__content__wrap ._title sup {
        background-image: url(../img/mo/sec5_ttl.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 80px;
        width: 346px;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef.--dimOn ._modalDimmed {
        background: #000;
        background: radial-gradient(circle, #000 0, #fff0);
        height: 1286px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 3;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__visual {
        background-image: url(../img/mo/sec3_bg0.jpg);
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__visual .cloud {
        display: none;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__visual1.--visualOn {
        display: block;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__visual2.--visualOn {
        display: block;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__visual2 {
        display: none;
        height: 100%;
        width: 100%;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__visual2.--type1 {
        background-image: url(../img/mo/sec3_bg1.jpg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__visual {
        background-image: url(../img/mo/sec4_bg.jpg);
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._header {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._header ._title {
        top: 25px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._header ._title sup {
        background-image: url(../img/mo/sec3_ttl.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 74px;
        width: 342px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._header ._tab {
        align-items: center;
        background-image: url(../img/pc/sec3_tab_bg.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        height: 58px;
        justify-content: center;
        margin-top: 27px;
        width: 652px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._header ._tab ._tab-button {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._header ._tab ._tab-button.--l:before,
    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._header ._tab ._tab-button.--r:before {
        background-image: url(../img/pc/sec3_tab_on_bg.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 58px;
        left: 30px;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity .2s ease-in-out;
        width: 324px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._header ._tab ._tab-button.-active:before {
        opacity: 1;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._header ._tab ._tab-button span.t1 {
        margin-left: 70px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._header ._tab ._tab-button.-active span {
        color: #d1f3ff;
        text-shadow: 0 3px 3px #0000008f;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._header ._tab ._tab-button span {
        color: #94acb5;
        font-size: 22px;
        position: relative;
        z-index: 1;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content {
        background-color: initial;
        height: 546px;
        margin-top: 22px;
        width: 100%;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.--typeOn {
        display: block;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--2 .swiper_box .swiper_video .video_con .swiper_btn {
        color: #0000 !important;
        font-size: 0 !important;
        height: 83px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 58px;
        z-index: 1;
        -webkit-text-size-adjust: none;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--2 .swiper_box .swiper_video .video_con .swiper_btn.swiper-btn-prev {
        background-image: url(../img/mo/sec3_arrow_btn_p.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        left: 0;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--2 .swiper_box .swiper_video .video_con .swiper_btn.swiper-btn-next {
        background-image: url(../img/mo/sec3_arrow_btn_n.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        right: 0;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--2 .swiper_box .swiper_video ._name {
        align-items: center;
        background-image: url(../img/pc/sec3_name_bg.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: -120px;
        display: flex;
        height: 84px;
        justify-content: center;
        left: 50%;
        position: absolute;
        transform: translate(-50%);
        width: 273px;
        z-index: 2;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--2 .swiper_box .swiper_video ._name span {
        color: #1e323e;
        font-size: 22px;
        font-weight: 400;
        font-family: "Noto Serif TC", serif;
        margin-top: -18px;
        text-shadow: 0 2px 0 #ffffff40;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap ._spec .group {
        display: block;
        align-items: center;
        column-gap: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap ._spec {
        margin-bottom: 180px;
        margin-top: 70px;
        align-items: center;
        column-gap: 360px;
        display: flex;
        justify-content: center;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap ._spec .group .icon {
        margin-bottom: 30px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap ._spec .group .icon {
        animation: fadeAnimation 6s linear infinite;
        display: block;
        opacity: 0.4;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap ._spec .group .icon.icon1 {
        animation-delay: 1s;
        background-image: url(../img/pc/sec4_spec1.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 106.5px;
        width: 58.5px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap ._spec .group .icon.icon2 {
        animation-delay: 2s;
        background-image: url(../img/pc/sec4_spec2.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 106.5px;
        width: 95.25px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap ._spec .group .icon.icon3 {
        animation-delay: 3s;
        background-image: url(../img/pc/sec4_spec3.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 106.5px;
        width: 63.75px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap ._spec .group .icon.icon4 {
        animation-delay: 4s;
        background-image: url(../img/pc/sec4_spec4.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 106.5px;
        width: 76.5px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap ._spec .group .icon.icon5 {
        animation-delay: 5s;
        background-image: url(../img/pc/sec4_spec5.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 106.5px;
        width: 63px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap ._spec .group .icon.icon6 {
        animation-delay: 6s;
        background-image: url(../img/pc/sec4_spec6.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 106.5px;
        width: 90px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap ._title .desc {
        width: 500px;
        font-size: 18px;
        color: #bbc8cd;
        font-family: "Noto Serif TC", serif;
        font-weight: 400;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap .subTitle {
        background-image: url(../img/mo/sec4_ttl_subTitle.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 60px;
        width: 402px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap ._title sup {
        background-image: url(../img/mo/sec4_ttl.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 80px;
        width: 484px;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap ._detail .reword {
        background-image: url(../img/pc/sec4_reward.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 166px;
        margin-top: 30px;
        width: 628px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--episode .area__visual {
        background-image: url(../img/mo/sec5_bg.jpg);
    }

    .page--r-raid-forbiddenrock .mobile-content .section--episode .area__content .area__content__wrap ._title {
        position: relative;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--episode ._arm {
        display: none;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap ._title sup {
        width: 363px;
        height: 60px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap ._detail .reword {
        width: 314px;
        height: 83px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--intro .area__content ._title .date {
        font-size: 22px;
        color: #95a4aa;
        font-family: "Noto Serif TC", serif;
        font-weight: 400;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--intro .area__content ._title .subTitle {
        background-image: url(../img/pc/sec1-subtitle.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 39px;
        position: relative;
        width: 359px;
        z-index: 1;
        margin-top: 10px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--raid .area__content .area__content__wrap ._title .subTitle {
        font-size: 18px;
        color: #95a4aa;
        font-family: "Noto Serif TC", serif;
        font-weight: 400;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._header ._title .subTitle {
        font-size: 18px;
        color: #95a4aa;
        font-family: "Noto Serif TC", serif;
        font-weight: 400;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--episode .area__content .area__content__wrap ._title .subTitle {
        font-size: 24px;
        color: #a0cfe0;
        font-family: "Noto Serif TC", serif;
        font-weight: 400;
        text-shadow: 0 0 2px #000000b0;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--episode .area__content .area__content__wrap ._title .desc {
        font-size: 17px;
        color: #a6bbc3;
        font-family: "Noto Serif TC", serif;
        font-weight: 400;
        width: 400px;
    }
}

@media (max-width: 768px) {
    .page--r-raid-forbiddenrock .mobile-content section.area {
        min-height: var(--maxvh-without-navtop);
        height: auto;
    }

    .page--r-raid-forbiddenrock .mobile-content section.area .area__content> :not(.layout-escape) {
        max-width: 572px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .page--r-raid-forbiddenrock .mobile-content section.area .area__content .area__content__wrap {
        max-width: 100%;
        width: 100%;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--intro .area__content .area__content__wrap ._title sup {
        height: 136px;
        width: 332px;
        margin-top: 30px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--intro .area__content .area__content__wrap ._video-button {
        height: 58px;
        width: 49px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--raid .area__content .area__content__wrap ._detail {
        height: 566px;
        width: 323px;
    }

    .page--r-raid-forbiddenrock .mobile-content section.section--reef {
        min-height: unset;
        height: 178.6111111111vw;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap {
        display: block;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content {
        height: 75.8333333333vw;
        margin-top: 3.0555555556vw;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area {
        height: 73.3333333333vw;
        margin-left: -1.1111111111vw;
        top: 16.1111111111vw;
        width: 75.4166666667vw;
        position: relative;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._header ._tab {
        width: 326px;
        height: 29px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._header ._tab ._tab-button.--l:before,
    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._header ._tab ._tab-button.--r:before {
        width: 162px;
        height: 29px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._header ._tab ._tab-button span {
        font-size: 17px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap ._spec {
        column-gap: 150px;
    }

    .page--r-raid-forbiddenrock .mobile-content section.section--episode {
        height: 199.1666666667vw;
    }

    .page--r-raid-forbiddenrock .mobile-content section.section--episode .area__content {
        top: 25px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--episode .area__content .area__content__wrap ._title sup {
        width: 259.5px;
        height: 60px;
        margin-bottom: 10px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--bertes .area__content .area__content__wrap ._title .desc {
        width: 100vw;
    }
}

@media (max-width: 720px) {
    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area .btn_box .btn {
        height: 14.4444444444vw;
        width: 13.8888888889vw;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area .btn_box .btn.btn1 {
        right: 1.9444444444vw;
        top: 10.833333vw;
        background-size: cover;
        width: 68px;
        height: 53px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area .btn_box .btn.btn2 {
        left: 34.5vw;
        top: -35px;
        background-size: cover;
        width: 61px;
        height: 53px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area .btn_box .btn.btn3 {
        left: 34.7222222222vw;
        top: 30.111111vw;
        background-size: cover;
        width: 50px;
        height: 52px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area .btn_box .btn.btn4 {
        left: 1.1111111111vw;
        top: 6.666667vw;
        background-size: cover;
        width: 48px;
        height: 52px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--1 ._area .btn_box .btn.btn5 {
        top: 40.111111vw;
        left: 22.2222222222vw;
        background-size: cover;
        width: 61px;
        height: 55px;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--2 .swiper_box .swiper_video .video_box {
        border: .2777777778vw solid #000;
        width: 79.3055555556vw;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--2 .swiper_box .swiper_video {
        height: 44.7222222222vw;
        transform: translateY(22.7777777778vw);
        width: 95.8333333333vw;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--2 .swiper_box .swiper_video ._name {
        bottom: -16.6666666667vw;
        height: 11.6666666667vw;
        width: 37.9166666667vw;
    }

    .page--r-raid-forbiddenrock .mobile-content .section--reef .area__content .area__content__wrap ._content ._display-item.type--2 .swiper_box .swiper_video ._name span {
        font-size: 3.0555555556vw;
        margin-top: -2.5vw;
        text-shadow: 0 .2777777778vw 0 #ffffff40;
    }
}